.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
    background-color: #f0f0f0; 
  }
  
  .logo {
    border-radius: 30%; 
    width: 100px; 
    height: 100px; 
    margin-right: auto; 
  }
  
  .title {
    text-align: center; 
    flex-grow: 1; 
    font-family: 'Poppins';
  }